#filter {
    float: left;
    font-size: 16px;
    list-style: none;
    margin-left: 0;
    width: 100%;
}

#filter li {
    border-right: 1px solid #dedede;
    float: left;
    line-height: 16px;
    margin-right: 10px;
    padding-right: 10px;
}

#filter li:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

#filter a {
    color: #999;
    text-decoration: none;
}

#filter li.current a,
#filter a:hover {
    text-decoration: underline;
}

#filter li.current a {
    color: #333;
    font-weight: bold;
}

#portfolio {
    float: left;
    list-style: none;
    margin-left: 0;
    width: 100%;
}

#portfolio article {
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 24.5%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
    position: relative;
}

#portfolio article .thumbnail {
    border: none;
}

figcaption {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin: 6px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#portfolio a {
    display: block;
    width: 100%;
}

#portfolio a:hover {
    text-decoration: none;
}

#portfolio img {
    display: block;
    padding-bottom: 5px;
}

#portfolio article {
    margin-right: 5px;
}

.Filterpopup {
    z-index: 55;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 10px;
    height: 100%;
    top: 0px;
}

.Filterpopup .popupImage {
    display: block;
    left: 0;
    margin: 0 auto;
    max-height: 90%;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.popupClose {
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: absolute;
    right: 11px;
    top: 10px;
    z-index: 555;
}